$primary-color: #1ed760;
$primary-color-fade: #9BD8B5;

$primary-text: #333333;
$secondary-text: #4f4f4f;

$grey1: #828282;
$grey2: #BDBDBD;
$grey3: #eaeaea;
$grey4: #fafafa;

$white: #ffffff;
$black: #000000;