.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.sidebar {
  width: 54px;
}
.main-container {
  display: flex;
  flex: 1;
}
.player-section {
  flex: 40%;
}
.track-section {
  flex: 30%;
}