.App {
  text-align: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.sidebar {
  width: 54px;
}
.main-container {
  display: flex;
  flex: 1;
}
.discover-section {
  flex: 35%;
}
.player-section {
  flex: 35%;
}
.track-section {
  flex: 30%;
}